.idea

# Ignore certificates
**.crt
**.cer
**.pem
# Ignore CSRs
**.csr
# Ignore private keys
**.key
# Ignore p12 bundles
**.p12
# Ignore CRLs
**.crl

# Ignore certificate DBs
**.db
**.db.old
## Ignore serials
**.srl
**.srl.old
# Ignore attributes
**.db.attr
**.db.attr.old
